/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    skimseq Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs

params {

    help                        = null
    slurm_account               = null                              // account to use on SLURM
    scratch                     = false                             // use scratchdir - overwritten by profiles

    ///// Primary inputs
    samplesheet                 = null                              // path to samplesheet .csv file
    ref_genome                  = null                              // path to reference genome
    mito_contig                 = null                              // Name of mitochondrial contig
    
    ///// Intermediate inputs
    cram_store                  = "output/results/cram"               // Absolute or relative (to launchdir) path to cram_store directory, where intermediate crams are stored; path
    gvcf_store                  = "output/results/gvcf"              // Absolute or relative (to launchdir) path to gvcf_store directory, where intermediate crams are stored; path
    use_existing_cram           = true                               // Whether to use existing crams in cram_store, even if the work directory has been deleted; logical
    use_existing_gvcf           = true                               // Whether to use existing crams in gvcf_store, even if the work directory has been deleted; logical
    skip_cram_validation        = false                              // Whether validation of existing crams should be skipped; logical
    skip_gvcf_validation        = false                              // Whether validation of existing gvcfs should be skipped; logical

    ///// Parallelisation parameters
    fastq_chunk_size            = 10000000                          // number of reads .fastq files should be split into for mapping to genome; integer
    hc_bases_per_chunk          = 100000000                         // Create GATK HaplotypeCaller intervals containing approximately this many aligned bases; integer
    jc_genotypes_per_chunk      = 100000000                         // Create GATK GenotypeGVCFs intervals containing approximately this many genotypes for joint calling; integer
    mp_bases_per_chunk          = 250000000                         // Create bcftools mpileup intervals containing approximately this many aligned bases; integer
    split_large_intervals       = true                              // Split any intervals that are over hc_bases_per_chunk. Makes more even intervals at risk of artefacts near interval end; logical
    min_interval_gap            = 100                               // Minimum gap of missing data (N or no reads) between intervals to consider them separate interval; integer

    ///// Reference genome masking for genotyping only (Not alignment)
    min_chr_length              = 50000000                          // Minimum length for a contig to be considered a chromosome; integer
    include_bed                 = null                              // Optional input bed file to just include these intervals for genotyping; path
    use_reference_hardmasks     = true                              // Use hard masks (N bases) already present in reference genome; boolean
    use_reference_softmasks     = false                             // Use soft masks (lowercase bases) already present in reference genome; boolean
    exclude_bed                 = null                              // Optional exclusion of certain intervals; path
    exclude_padding             = 0                                 // Optional padding of exclusion intervals; integer
    genotype_masked_bases       = false                             // Whether to genotype masked bases; boolean
    filter_masked_variants      = true                              // Whether to filter masked bases from vcf; boolean
    genmap_kmer_length          = 100                               // Kmer length for calculating mapability. Should be roughly close to the read lengths that will be mapped; integer
    genmap_error_tol            = 2                                 // Number of errors to tolerate in calculating mapability; integer
    genmap_thresh               = 0.99                              // Mapability threshold removes anything less than this. 1 = completely unique Kmer; float/proportion
    longdust_kmer_length        = 7                                 // Kmer length for longdust; integer
    longdust_window_size        = 5000                              // Context window length for longdust. Cannot find repeats with units longer than this; integer
    longdust_thresh             = 0.6                               // Complexity theshold for longdust; float/proportion
    numt_min_length             = 100                               // Minimum length of a NUMT; integer
    numt_max_gap                = 1000                              // Maximum gap between NUMT alignments to be considered the same region; integer

    ///// minibwa alignment parameters
    minibwa_preset                  = "adap"                        // alignment preset: adap (adaptive short reads), sr (short reads), or lr (long reads)
    minibwa_min_seed_length         = 19                            // minimum exact-match seed length used during alignment. Smaller values increase sensitivity but may increase runtime and spurious mappings; integer
    minibwa_max_seed_occurrence     = 250                           // ignore seeds occurring more than N times in the reference. Lower values reduce mappings to repetitive regions and may improve performance; integer

    ///// Mito variant calling parameters
    mito_min_vaf                = 0.9                               // Minimum VAF for consensus mito; float/proprotion
    mito_min_depth              = 100                               // Minimum supporting reads for consensus mito; integer

    ///// Generic variant caller parameters
    variant_caller           = "bcftools"                           // Variant caller to be used; can be one of 'bcftools' or 'gatk'
    min_depth                = 1                                    // Minimum depth to count a site as covered
    rmdup                    = true                                 // Exclude duplicate aligned reads from genotyping; logical
    minbq                    = 10                                   // Minimum base quality for genotyping; integer
    minmq                    = 20                                   // Minimum mapping quality for genotyping; integer
    min_fragment_length      = 15                                   // Minimum length of fragment (insert size); logical
    max_fragment_length      = 10000                                // Maximum length of fragment (insert size); logical
    min_aligned_length       = 30                                   // Minimum number of aligned (non-soft clipped) bases in read
    ploidy                   = 2                                    // Ploidy of the samples; integer
    output_indel             = true                                 // Whether to output indel sites; logical
    output_invariant         = false                                // Whether to output invariant sites; logical

    ///// GATK specific parameters
    hc_interval_padding         = 100                               // Pad intervals by this many bases for genotyping; integer
    hc_min_pruning              = 2                                 // Minimum read support (dp) to retain paths in the assembly graph. Smaller number increases sensitivity at expense of false positives; integer
    hc_min_dangling_length      = 4                                 // Minimum length (bp) of a dangling branch to attempt recovery. Smaller number increases sensitivity at expense of false positives; integer
    hc_max_reads_startpos       = 50                                // Maximum number of reads to retain per alignment start position. Increase if doing deep targetted sequencing; integer
    hc_pcr_free                 = false                             // Whether the library is PCR free, sets -pcr_indel_model 'NONE'; logical
    hc_max_ambig_bases          = 5                                 // Maximum number of ambiguous 'N' bases allowed in read; integer
    hc_use_softclipped_bases    = true                              // Use soft clipped bases in the reads, increases sensitivity for long indels; logical
    heterozygosity              = 0.001                             // Heterozygosity value used to compute prior probabilities for any locus; float
    heterozygosity_stdev        = 0.01                              // Standard deviation of heterozygosity for SNP and indel calling; float
    indel_heterozygosity        = 0.000125                          // Heterozygosity for indel calling; float
    jc_max_alternate_alleles    = 6                                 // Maximum number of alternate alleles at a site to genotype. Any sites with more than this are not emitted; integer
    jc_max_alternate_to_import  = 10                                // Maximum number of alternate alleles at a site to import from genomicsdb. Any sites with more than this are not genotyped; integer

    ///// BCFtools specific parametrs
    bcftools_variant_prior     = 0.0011                             // mutation rate value used to compute prior probabilities for any locus. Increase for more sensitivity; float
    max_depth                  = 250                                // Maximum number of reads to use per file. Increase if doing deep targetted sequencing; integer
    calling_model              = "cohort"                           // Group samples by "cohort", "population" (requires population labels), or "sample" (no HWE prior) for calling; character
    min_genotype_posterior     = 0.9                                // Minimum genotype posterior to emit a genotype call; float/proportion

    ///// Optional extra outputs
    output_unmapped_reads       = false                             // Whether to output unmapped reads as fastq; boolean
    output_cram                 = true                              // Whether to output CRAM files; boolean
    output_gvcf                 = true                              // Whether to output gvcf files; boolean
    output_unfiltered_vcf       = false                             // Whether to output unfiltered VCF files; boolean
    output_beagle_gl            = false                              // Whether to output genotype likelihoods in BEAGLE format; boolean

    ///// debugging options
    debug_mode                  = false                             // save all module outputs to results/modules; boolean
    rdata                       = false                             // save all data/objects from process-level R sessions as .RData files in work dir; boolean

    ///// VCF filtering parameters - null disables a filter for the relevant scope and variant type.

    // Population-level filtering logic
    vcf_population_min_samples = 1
    vcf_population_fail_mode = 'ALL'

    // Genotype-level masking
    vcf_genotype_qual = 0
    vcf_genotype_dp_min = 1
    vcf_genotype_dp_max = 1000

    // Sample-level filtering
    vcf_sample_max_missing = 0.5

    // Depth percentile filtering
    vcf_dp_percentile_lower = 1.0
    vcf_dp_percentile_upper = 99.0

    // Minimum site QUAL
    vcf_qual_global_snp = 30.0
    vcf_qual_global_indel = 30.0
    vcf_qual_global_invariant = null

    // Minimum site depth
    vcf_dp_min_global_snp = 6
    vcf_dp_min_global_indel = 6
    vcf_dp_min_global_invariant = 6

    // Minimum distance from an indel
    vcf_dist_indel_global_snp = 5
    vcf_dist_indel_global_indel = null
    vcf_dist_indel_global_invariant = null

    // Excess heterozygosity p-value threshold
    vcf_eh_global_snp = null
    vcf_eh_global_indel = null
    vcf_eh_global_invariant = null

    vcf_eh_pop_snp = null
    vcf_eh_pop_indel = null
    vcf_eh_pop_invariant = null

    // Hardy-Weinberg equilibrium p-value threshold
    vcf_hwe_global_snp = null
    vcf_hwe_global_indel = null
    vcf_hwe_global_invariant = null

    vcf_hwe_pop_snp = null
    vcf_hwe_pop_indel = null
    vcf_hwe_pop_invariant = null

    // Minor allele frequency
    vcf_maf_global_snp = 0.05
    vcf_maf_global_indel = 0.05
    vcf_maf_global_invariant = null

    vcf_maf_pop_snp = null
    vcf_maf_pop_indel = null
    vcf_maf_pop_invariant = null

    // Minimum number of called samples
    vcf_min_samples_global_snp = 1
    vcf_min_samples_global_indel = 1
    vcf_min_samples_global_invariant = 1

    vcf_min_samples_pop_snp = null
    vcf_min_samples_pop_indel = null
    vcf_min_samples_pop_invariant = null

    // Minimum call rate
    vcf_min_callrate_global_snp = 0.5
    vcf_min_callrate_global_indel = 0.5
    vcf_min_callrate_global_invariant = 0.5

    vcf_min_callrate_pop_snp = null
    vcf_min_callrate_pop_indel = null
    vcf_min_callrate_pop_invariant = null

}


validation {
    parametersSchema = 'nextflow_schema.json'
    
    logging {
        unrecognisedParams = 'error'
    }
    summary {
        beforeText = '''
    The following parameters differ from the pipeline defaults:
    '''
    }
    
    // Ignore basc module definitions from validation
    defaultIgnoreParams = [
        'basc_module_multiqc',
        'basc_module_genmap',
        'basc_module_seqtk',
        'basc_module_parallel',
        'basc_module_bedtools',
        'basc_module_vcf2dis',
        'basc_module_seqkit',
        'basc_module_picard',
        'basc_module_longdust',
        'basc_module_gatk',
        'basc_module_bcftools',
        'basc_module_pigz',
        'basc_module_mummer',
        'basc_module_bwa_mem2',
        'basc_module_fastqc',
        'basc_module_bedops',
        'basc_module_samtools',
        'basc_module_shifter'
    ]

    help {
        enabled = true
    }
}

outputDir = "${launchDir}/output/results"
workflow.output.mode = 'copy'
workflow.output.overwrite = true

includeConfig 'conf/resources.config'

profiles {

    /*
     * Execution backends
     */

    local {
        process.executor = 'local'
        executor.queueSize = 2
        params.scratch = false

        process.resourceLimits = [
            cpus:   8,
            memory: 16.GB,
            time:   24.h
        ]
    }

    basc_slurm {
        process.executor = 'slurm'
        process.queue = 'batch,shortrun'
        process.clusterOptions = params.slurm_account
            ? "--account ${params.slurm_account} --ntasks=1"
            : '--ntasks=1'

        executor.queueSize = 200
        executor.pollInterval = '10 sec'
        executor.submitRateLimit = '5 sec'
        executor.perCpuMemAllocation = true
        executor.onlyJobState = true
        executor.queueGlobalStatus = true

        params.scratch = true

        process.resourceLimits = [
            cpus:   48,
            memory: 512.GB,
            time:   168.h
        ]
    }


    /*
     * Software backends
     */

    modules {
        includeConfig 'conf/basc_modules.config'

        apptainer.enabled = false
        charliecloud.enabled = false
        conda.enabled = false
        docker.enabled = false
        podman.enabled = false
        shifter.enabled = false
        singularity.enabled = false
        wave.enabled = false
    }

    conda {
        conda {
            enabled = true
            useMamba = false
        }

        apptainer.enabled = false
        charliecloud.enabled = false
        docker.enabled = false
        podman.enabled = false
        shifter.enabled = false
        singularity.enabled = false
        wave.enabled = false
    }

    basc_conda {
       conda {
            enabled = true
            useMamba = false
        }

        apptainer.enabled = false
        charliecloud.enabled = false
        docker.enabled = false
        podman.enabled = false
        shifter.enabled = false
        singularity.enabled = false
        wave.enabled = false
        // Include config is a legacy parameter required for VCF2DIS which isnt on conda
        includeConfig 'conf/basc_conda.config'
        process.module = 'Miniconda3/24.7.1-0'

    }

    shifter {
        process.module = 'shifter'

        shifter.enabled = true

        apptainer.enabled = false
        charliecloud.enabled = false
        conda.enabled = false
        docker.enabled = false
        podman.enabled = false
        singularity.enabled = false
        includeConfig 'conf/basc_shifter.config'
    }

    charliecloud {
        process.module = 'charliecloud/0.44-GCCcore-13.3.0'

        charliecloud.enabled = true
        apptainer.enabled = false
        conda.enabled = false
        docker.enabled = false
        podman.enabled = false
        shifter.enabled = false
        singularity.enabled = false
        includeConfig 'conf/basc_charliecloud.config'
    }

    apptainer {
        apptainer {
            enabled = true
            autoMounts = true
        }

        wave {
            enabled = true
            strategy = 'conda'
        }

        charliecloud.enabled = false
        conda.enabled = false
        docker.enabled = false
        podman.enabled = false
        shifter.enabled = false
        singularity.enabled = false
    }

    docker {
        docker {
            enabled = true
            runOptions = '-u $(id -u):$(id -g)'
        }

        wave {
            enabled = true
            strategy = 'conda'
        }

        apptainer.enabled = false
        charliecloud.enabled = false
        conda.enabled = false
        podman.enabled = false
        shifter.enabled = false
        singularity.enabled = false
    }

    podman {
        podman.enabled = true

        wave {
            enabled = true
            strategy = 'conda'
        }

        apptainer.enabled = false
        charliecloud.enabled = false
        conda.enabled = false
        docker.enabled = false
        shifter.enabled = false
        singularity.enabled = false
    }

    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }

        wave {
            enabled = true
            strategy = 'conda'
        }

        apptainer.enabled = false
        charliecloud.enabled = false
        conda.enabled = false
        docker.enabled = false
        podman.enabled = false
        shifter.enabled = false
    }

    /*
     * Dataset and development profiles
     */

    test {
        params.samplesheet = 'test_data/qfly/test_samplesheet.csv'
        params.ref_genome = 'test_data/qfly/test_qfly_genome.fa'
        params.mito_contig = 'HQ130030.1'

        params.fastq_chunk_size = 3000
        params.hc_bases_per_chunk = 500000
        params.mp_bases_per_chunk = 1000000
        params.jc_genotypes_per_chunk = 10000

        params.use_reference_hardmasks = true
        params.use_reference_softmasks = false
        params.min_chr_length = 20000
        params.include_bed = 'test_data/qfly/include_interval.bed'
        params.exclude_bed = 'test_data/qfly/exclude_interval.bed'

        params.output_invariant = false
        params.scratch = false

        process.resourceLimits = [
            cpus:   1,
            memory: 2.GB,
            time:   10.m
        ]
    }

    debug {
        params.rdata = true
        params.debug_mode = true
        params.scratch = false
    }
}

// Scratch and error handling
process {

    // Use the param to control the scratch directive
    scratch = params.scratch

    // error handling
    // Note the default value of $task.exitStatus is set to Integer.MAX_VALUE in the absence of an .exitcode file - This catches "terminated for an unknown reason" see https://github.com/nextflow-io/nextflow/issues/2847#issuecomment-2144844183
    errorStrategy = { task.exitStatus in ((130..145) + 104 + 247 + Integer.MAX_VALUE) ? 'retry' : 'terminate' }
    maxRetries    = 3
    maxErrors     = '-1'
    withLabel: error_retry {
        errorStrategy = 'retry'
        maxRetries    = 3
    }

}


plugins {
    id 'nf-schema@2.7.2'                            // create schema to validate sample sheets and pipeline parameters
    id 'nf-wave'
}


report {
    enabled             = true
    overwrite           = true
    file                = "output/run_info/report.html"
}


trace {
    enabled             = true
    overwrite           = true
    file                = "output/run_info/trace.tsv"
}


dag {
    enabled             = true
    overwrite           = true
    file                = "output/run_info/dag.html"
    verbose             = true
}


timeline {
    enabled             = true
    overwrite           = true
    file                = "output/run_info/timeline.html"
}
