/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    skimseq Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

validation {
    parametersSchema = 'nextflow_schema.json'
    
    logging {
        unrecognisedParams = 'error'
    }
    summary {
        beforeText = '''
    The following parameters differ from the pipeline defaults:
    '''
    }
    
    // Ignore basc module definitions from validation
    defaultIgnoreParams = [
        'basc_module_multiqc',
        'basc_module_genmap',
        'basc_module_seqtk',
        'basc_module_parallel',
        'basc_module_bedtools',
        'basc_module_vcf2dis',
        'basc_module_seqkit',
        'basc_module_picard',
        'basc_module_longdust',
        'basc_module_gatk',
        'basc_module_bcftools',
        'basc_module_pigz',
        'basc_module_mummer',
        'basc_module_bwa_mem2',
        'basc_module_fastqc',
        'basc_module_bedops',
        'basc_module_samtools',
        'basc_module_shifter'
    ]

    help {
        enabled = true
    }
}

outputDir = "${launchDir}/output/results"
workflow.output.mode = 'copy'
workflow.output.overwrite = true

includeConfig 'conf/resources.config'

profiles {

    /*
     * Software backends
     */

    conda {
        conda {
            enabled = true
            useMamba = false
        }

        apptainer.enabled = false
        charliecloud.enabled = false
        docker.enabled = false
        podman.enabled = false
        shifter.enabled = false
        singularity.enabled = false
        wave.enabled = false
    }

    apptainer {
        apptainer {
            enabled = true
            autoMounts = true
        }

        wave {
            enabled = true
            strategy = 'conda'
        }

        charliecloud.enabled = false
        conda.enabled = false
        docker.enabled = false
        podman.enabled = false
        shifter.enabled = false
        singularity.enabled = false
    }

    docker {
        docker {
            enabled = true
            runOptions = '-u $(id -u):$(id -g)'
        }

        wave {
            enabled = true
            strategy = 'conda'
        }

        apptainer.enabled = false
        charliecloud.enabled = false
        conda.enabled = false
        podman.enabled = false
        shifter.enabled = false
        singularity.enabled = false
    }

    podman {
        podman.enabled = true

        wave {
            enabled = true
            strategy = 'conda'
        }

        apptainer.enabled = false
        charliecloud.enabled = false
        conda.enabled = false
        docker.enabled = false
        shifter.enabled = false
        singularity.enabled = false
    }

    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }

        wave {
            enabled = true
            strategy = 'conda'
        }

        apptainer.enabled = false
        charliecloud.enabled = false
        conda.enabled = false
        docker.enabled = false
        podman.enabled = false
        shifter.enabled = false
    }

    /*
     * Dataset and development profiles
     */

    test {
        params.samplesheet = 'test_data/qfly/test_samplesheet.csv'
        params.ref_genome = 'test_data/qfly/test_qfly_genome.fa'
        params.mito_contig = 'HQ130030.1'

        params.hc_bases_per_chunk = 500000
        params.mp_bases_per_chunk = 1000000
        params.jc_genotypes_per_chunk = 10000

        params.use_reference_hardmasks = true
        params.use_reference_softmasks = false
        params.min_chr_length = 20000
        params.include_bed = 'test_data/qfly/include_interval.bed'
        params.exclude_bed = 'test_data/qfly/exclude_interval.bed'

        params.output_invariant = false
        process.scratch = false

        process.resourceLimits = [
            cpus:   1,
            memory: 2.GB,
            time:   10.m
        ]
    }

    debug {
        params.rdata = true
        params.debug_mode = true
        process.scratch = false
    }
}

// Scratch and error handling
process {

    // Note the default value of $task.exitStatus is set to Integer.MAX_VALUE in the absence of an .exitcode file 
    // This catches "terminated for an unknown reason" see https://github.com/nextflow-io/nextflow/issues/2847#issuecomment-2144844183
    // 127 and 146 catch file system latency issues
    // 75 catches map_to_genome remote failures due to connection congestion
    errorStrategy = {
        def retryCodes = [75, 104, 125, 134, 137, 139, 140, 143, 127, 146, 247, Integer.MAX_VALUE]

        if( task.exitStatus == null )
            return 'retry'

        if( task.exitStatus in retryCodes )
            return 'retry'

        return 'terminate'
    }
    
    maxRetries    = 3
    maxErrors     = '-1'
}


plugins {
    id 'nf-schema@2.7.2'                            // create schema to validate sample sheets and pipeline parameters
    id 'nf-wave'
}


report {
    enabled             = true
    overwrite           = true
    file                = "output/run_info/report.html"
}


trace {
    enabled             = true
    overwrite           = true
    file                = "output/run_info/trace.tsv"
}


dag {
    enabled             = true
    overwrite           = true
    file                = "output/run_info/dag.html"
    verbose             = true
}


timeline {
    enabled             = true
    overwrite           = true
    file                = "output/run_info/timeline.html"
}
