// This config file is temporary, remove module definitions for processes as conda enviornment.yml are added

params {
    // Define versions of all basc modules
    basc_module_bcftools = 'BCFtools/1.23.1-GCC-13.3.0'
    basc_module_vcf2dis  = 'VCF2Dis/1.53-GCC-13.3.0'}

process {

    withName: VCF2DIST {
        module = [
            params.basc_module_bcftools,
            params.basc_module_vcf2dis
        ].join(':')
    } 
}