//AgVic BASC configuration profile

process {
    executor = 'slurm'
    scratch=true
    queue = { task.time <= 6.h ? 'shortrun' : 'batch' }
    module = 'Miniconda3/24.7.1-0'
    clusterOptions = "--account ${params.slurm_account} --ntasks=1"
    resourceLimits = [
        cpus:   48,
        memory: 512.GB,
        time:   168.h
    ]
}

executor {
    pollInterval        = '10 sec'
    perCpuMemAllocation = true
    onlyJobState        = true
    queueGlobalStatus   = true
}

conda {
    enabled  = true
    useMamba = false
}

apptainer.enabled    = false
charliecloud.enabled = false
docker.enabled       = false
podman.enabled       = false
shifter.enabled      = false
singularity.enabled  = false
wave.enabled         = false