// This config file is temporary, remove module definitions for processes as conda enviornment.yml are added

params {
    // Define versions of all basc modules
    basc_module_shifter  = 'shifter/22.02.1'
}

process {

    withName: VCF2DIST {
        module = [
            params.basc_module_bcftools,
            params.basc_module_vcf2dis
        ].join(':')
    } 
}