
process {

    // Main & generic process resources
    withName: INDEX_GENOME {
        module =  "bwa-mem2/2.2.1-GCC-13.3.0:BEDTools/2.31.1-GCC-13.3.0:GATK/4.6.1.0-GCCcore-13.3.0-Java-21:picard/3.3.0-Java-21:SAMtools/1.21-GCC-13.3.0"
    }    
    withName: INDEX_MITO {
        module = "bwa-mem2/2.2.1-GCC-13.3.0:SAMtools/1.21-GCC-13.3.0:seqtk/1.4-GCC-13.3.0"
    }    

    // mask_genome subworkflow resources
    withName: EXTRACT_GENOME_MASKS {
        module = "BEDTools/2.31.1-GCC-13.3.0:SeqKit/2.8.2"
    }  
    withName: GENMAP {
        module = "GenMap/1.3.0-GCCcore-13.3.0:BEDTools/2.31.1-GCC-13.3.0"
    }      
    withName: LONGDUST {
        module = "longdust/1.4-GCCcore-13.3.0:SeqKit/2.8.2:BEDTools/2.31.1-GCC-13.3.0"
    }   
    withName: NUMT_MASK {
        module = "MUMmer/4.0.1-GCCcore-13.3.0:SeqKit/2.8.2:BEDTools/2.31.1-GCC-13.3.0"
    }       
    withName: MERGE_MASKS {
        module = "BEDTools/2.31.1-GCC-13.3.0"
    }       
    withName: SUMMARISE_MASKS {
        module =  "BEDTools/2.31.1-GCC-13.3.0"
    }       
    
    // process_reads subworkflow resources
    // process_reads subworkflow resources
    withName: VALIDATE_FASTQ {
        container = "community.wave.seqera.io/library/bcftools_bedops_bedtools_dupblaster_pruned:9791d997a621f1b4"
    }
    withName: VALIDATE_CRAM {
        container = "community.wave.seqera.io/library/bcftools_bedops_bedtools_dupblaster_pruned:9791d997a621f1b4"
    }
    withName: REPAIR_FASTQ {
        container = "community.wave.seqera.io/library/bcftools_bedops_bedtools_dupblaster_pruned:9791d997a621f1b4"
    }
    withName: SPLIT_FASTQ {
        module = "seqtk/1.4-GCC-13.3.0"
    }   
    withName: MAP_TO_GENOME {
        module = "bwa-mem2/2.2.1-GCC-13.3.0:SAMtools/1.21-GCC-13.3.0:SeqKit/2.8.2"
    }
    withName: MERGE_CRAM {
        module = "SAMtools/1.21-GCC-13.3.0"
    }
    withName: EXTRACT_UNMAPPED {
        module = "SAMtools/1.21-GCC-13.3.0"
    }
    withName: COUNT_CRAM_PERBASE {
        module = "BEDTools/2.31.1-GCC-13.3.0:SAMtools/1.22.1-GCC-13.3.0:BCFtools/1.22-GCC-13.3.0"
    }  

    // Interval creation
    withName: SUM_COVERED_INTERVALS {
        module = "BEDTools/2.31.1-GCC-13.3.0:SAMtools/1.22.1-GCC-13.3.0:BCFtools/1.22-GCC-13.3.0"
    }  
    withName: CREATE_INTERVAL_CHUNKS {
        module = "BEDTools/2.31.1-GCC-13.3.0:BEDOPS/2.4.42-foss-2024a:parallel/20240722-GCCcore-13.3.0:BCFtools/1.22-GCC-13.3.0"
    }
    
    //GATK_SINGLE subworkflow Resources
    withName: VALIDATE_GVCF {
        module = "BCFtools/1.21-GCC-13.3.0"
    }
    withName: HAPLOTYPECALLER {
        module = "GATK/4.6.1.0-GCCcore-13.3.0-Java-21:BCFtools/1.21-GCC-13.3.0:BEDTools/2.31.1-GCC-13.3.0:SAMtools/1.22.1-GCC-13.3.0"
    }


    //GATK_JOINT subworkflow Resources
    withName: COUNT_VCF_RECORDS {
        module = "BCFtools/1.22-GCC-13.3.0:BEDTools/2.31.1-GCC-13.3.0"
    }  
    withName: GENOMICSDB_IMPORT {
        module = "GATK/4.6.1.0-GCCcore-13.3.0-Java-21"
    }
    withName: JOINT_GENOTYPE {
        module = "GATK/4.6.1.0-GCCcore-13.3.0-Java-21:BCFtools/1.21-GCC-13.3.0:BEDTools/2.31.1-GCC-13.3.0"
    }    
    withName: CONCAT_VCFS {
        module = "BCFtools/1.21-GCC-13.3.0"
    }  

    // BCFTools genotyping subworkflow
    withName: MPILEUP {
        module = "BCFtools/1.21-GCC-13.3.0:BEDTools/2.31.1-GCC-13.3.0:SAMtools/1.22.1-GCC-13.3.0:parallel/20240722-GCCcore-13.3.0"
    }    

    // Filtering subworkflow resources
    withName: CALC_CHUNK_DP {
        module = "BEDTools/2.31.1-GCC-13.3.0:BCFtools/1.21-GCC-13.3.0"
    }
    withName: MERGE_CHUNK_DP {
        module = "BEDTools/2.31.1-GCC-13.3.0:BCFtools/1.21-GCC-13.3.0"
    }
    withName: MERGE_CHUNK_MISSING {
        module = "BEDTools/2.31.1-GCC-13.3.0:BCFtools/1.21-GCC-13.3.0"
    }
    withName: EXTRACT_VCF_SITES {
        module = "BCFtools/1.21-GCC-13.3.0"
    }
    withName: SUBSET_VCF_TO_SITES {
        module = "BCFtools/1.22-GCC-13.3.0"
    }
    withName: FILTER_VCF {
        module = "BCFtools/1.23.1-GCC-13.3.0:BEDTools/2.31.1-GCC-13.3.0"
    }
    withName: CREATE_FILTER_HIST {
        module = "BCFtools/1.22-GCC-13.3.0:pigz/2.8-GCCcore-13.3.0:BEDTools/2.31.1-GCC-13.3.0"
    }
    withName: PLOT_VCF_FILTERS {
        module = "shifter/22.02.1"
        // TODO: This should use R
    } 
    withName: PLOT_SAMPLE_FILTERS {
        module = "shifter/22.02.1"
        // TODO: This should use R
    } 
    
    // mito_genotyping subworkflow resources
    withName: CONSENSUS_MITO {
        module = "BEDTools/2.31.1-GCC-13.3.0:SeqKit/2.8.2:SAMtools/1.23.1-GCC-13.3.0:bwa-mem2/2.2.1-GCC-13.3.0"
    }
    withName: PROCESS_CRAM_MITO {
        module = "SAMtools/1.21-GCC-13.3.0"
    }   

    //Outputs subworkflow
    withName: SPLIT_VCF_BY_TYPE {
        module = "GATK/4.6.1.0-GCCcore-13.3.0-Java-21:BCFtools/1.21-GCC-13.3.0"
    }
    withName: CREATE_BEAGLE {
        module = "BCFtools/1.21-GCC-13.3.0"
    }
    withName: VCF2DIST {
        module = "BCFtools/1.21-GCC-13.3.0:VCF2Dis/1.53-GCC-13.3.0"
    }
    withName: PLOT_ORDINATION {
        module = "shifter/22.02.1"
        // TODO: This should use R
    }
    withName: PLOT_TREE {
        module = "shifter/22.02.1"
        // TODO: This should use R
    }  

    // QC Subworkflow
    withName: CRAM_STATS {
        module = "SAMtools/1.21-GCC-13.3.0"
    }
    withName: VCF_STATS {
        module = "BCFtools/1.21-GCC-13.3.0"
    } 
    withName: FASTQC {
        module = "FastQC/0.12.1-Java-11:SAMtools/1.22.1-GCC-13.3.0"
    }  
    withName: MULTIQC {
        module = "MultiQC/1.28-foss-2024a"
    }

    // Deprecated modules
    //withName: CREATE_PSEUDOHAP {
    //        module = "BCFtools/1.21-GCC-13.3.0"
    //}
    //withName: GENOTYPE_POSTERIORS {
    //        module = "GATK/4.6.1.0-GCCcore-13.3.0-Java-21:BCFtools/1.22-GCC-13.3.0"
    //}
    
}