
process {

    // Main & generic process resources
    withName: INDEX_GENOME {
        cpus    = { cpu_scale  ( 1,     task.attempt ) }
        memory  = { mem_scale  ( 32.GB,  task.attempt ) }
        time    = { time_scale ( 30.m,   task.attempt ) }
    }    
    withName: INDEX_MITO {
        cpus    = { cpu_scale  ( 1,     task.attempt ) }
        memory  = { mem_scale  ( 4.GB,  task.attempt ) }
        time    = { time_scale ( 10.m,   task.attempt ) }
    }    

    // mask_genome subworkflow resources
    withName: EXTRACT_GENOME_MASKS {
        cpus    = { cpu_scale  ( 1,     task.attempt ) }
        memory  = { mem_scale  ( 4.GB,  task.attempt ) }
        time    = { time_scale ( 10.m,   task.attempt ) }
    }  
    withName: GENMAP {
        cpus    = { cpu_scale  ( 8,     task.attempt ) }
        memory  = { mem_scale  ( 48.GB,  task.attempt ) }
        time    = { time_scale ( 6.h,   task.attempt ) }
    }      
    withName: LONGDUST {
        cpus    = { cpu_scale  ( 4,     task.attempt ) }
        memory  = { mem_scale  ( 24.GB,  task.attempt ) }
        time    = { time_scale ( 6.h,   task.attempt ) }
    }   
    withName: NUMT_MASK {
        cpus    = { cpu_scale  ( 4,     task.attempt ) }
        memory  = { mem_scale  ( 24.GB,  task.attempt ) }
        time    = { time_scale ( 6.h,   task.attempt ) }
    }       
    withName: MERGE_MASKS {
        cpus    = { cpu_scale  ( 1,     task.attempt ) }
        memory  = { mem_scale  ( 4.GB,  task.attempt ) }
        time    = { time_scale ( 10.m,   task.attempt ) }
    }       
    withName: SUMMARISE_MASKS {
        cpus    = { cpu_scale  ( 1,     task.attempt ) }
        memory  = { mem_scale  ( 4.GB,  task.attempt ) }
        time    = { time_scale ( 10.m,   task.attempt ) }
    }       
    
    // process_reads subworkflow resources
    withName: VALIDATE_FASTQ {
        cpus    = { cpu_scale  ( 1,     task.attempt ) }
        memory  = { mem_scale  ( 4.GB,  task.attempt ) }
        time    = { time_scale ( 1.h,   task.attempt ) }
    }
    withName: VALIDATE_CRAM {
        cpus    = { cpu_scale  ( 1,     task.attempt ) }
        memory  = { mem_scale  ( 4.GB,  task.attempt ) }
        time    = { time_scale ( 1.h,   task.attempt ) }
    }
    withName: REPAIR_FASTQ {
        cpus    = { cpu_scale  ( 1,     task.attempt ) }
        memory  = { mem_scale  ( 40.GB,  task.attempt ) }
        time    = { time_scale ( 1.h,   task.attempt ) }
    }
    withName: SPLIT_FASTQ {
        cpus    = { cpu_scale  ( 1,     task.attempt ) }
        memory  = { mem_scale  ( 4.GB,  task.attempt ) }
        time    = { time_scale ( 10.m,   task.attempt ) }
    }   
    withName: MAP_TO_GENOME {
        cpus    = { cpu_scale  ( 8,     task.attempt ) }
        memory  = { mem_scale  ( 24.GB,  task.attempt ) }
        time    = { time_scale ( 2.h,   task.attempt ) }
    }
    withName: MERGE_CRAM {
        cpus    = { cpu_scale  ( 4,     task.attempt ) }
        memory  = { mem_scale  ( 16.GB,  task.attempt ) }
        time    = { time_scale ( 6.h,   task.attempt ) }
    }
    withName: EXTRACT_UNMAPPED {
        cpus    = { cpu_scale  ( 4,     task.attempt ) }
        memory  = { mem_scale  ( 8.GB,  task.attempt ) }
        time    = { time_scale ( 30.m,   task.attempt ) }
    }
    withName: COUNT_CRAM_PERBASE {
        cpus    = { cpu_scale  ( 4,     task.attempt ) }
        memory  = { mem_scale  ( 24.GB,  task.attempt ) }
        time    = { time_scale ( 2.h,   task.attempt ) }
    }  

    // Interval creation
    withName: SUM_COVERED_INTERVALS {
        cpus    = { cpu_scale  ( 1,     task.attempt ) }
        memory  = { mem_scale  ( 12.GB,  task.attempt ) }
        time    = { time_scale ( 2.h,   task.attempt ) }
    }  
    withName: CREATE_INTERVAL_CHUNKS {
        cpus    = { cpu_scale  ( 6,     task.attempt ) }
        memory  = { mem_scale  ( 48.GB, task.attempt ) }
        time    = { time_scale ( 6.h,   task.attempt ) }
    }
    
    //GATK_SINGLE subworkflow Resources
    withName: VALIDATE_GVCF {
        cpus    = { cpu_scale  ( 1,     task.attempt ) }
        memory  = { mem_scale  ( 4.GB,  task.attempt ) }
        time    = { time_scale ( 1.h,   task.attempt ) }
    }
    withName: HAPLOTYPECALLER {
        cpus    = { cpu_scale  ( 4,     task.attempt ) }
        memory  = { mem_scale  ( 24.GB,  task.attempt ) }
        time    = { time_scale ( 6.h,   task.attempt ) }
    }


    //GATK_JOINT subworkflow Resources
    withName: COUNT_VCF_RECORDS {
        cpus    = { cpu_scale  ( 4,     task.attempt ) }
        memory  = { mem_scale  ( 24.GB,  task.attempt ) }
        time    = { time_scale ( 6.h,   task.attempt ) }
    }  
    withName: GENOMICSDB_IMPORT {
        cpus    = { cpu_scale  ( 6,     task.attempt ) }
        time    = { time_scale ( 24.h,   task.attempt ) }
        // NOTE: Memory is defined in the actual module for scaling based on sample number
    }
    withName: JOINT_GENOTYPE {
        cpus    = { cpu_scale  ( 2,     task.attempt ) }
        time    = { time_scale ( 24.h,   task.attempt ) }
        // NOTE: Memory is defined in the actual module for scaling based on sample number
    }    
    withName: CONCAT_VCFS {
        cpus    = { cpu_scale  ( 8,     task.attempt ) }
        memory  = { mem_scale  ( 48.GB,  task.attempt ) }
        time    = { time_scale ( 6.h,   task.attempt ) }
    }  

    // BCFTools genotyping subworkflow
    withName: MPILEUP {
        cpus    = { cpu_scale  ( 4,     task.attempt ) }
        time    = { time_scale ( 6.h,   task.attempt ) }
        container = 'alexpiper/genomic-utils:1.0.0'    
        // NOTE: Memory is defined in the actual module for scaling based on sample number
    }    

    // Filtering subworkflow resources
    withName: CALC_CHUNK_DP {
        cpus    = { cpu_scale  ( 2,     task.attempt ) }
        memory  = { mem_scale  ( 8.GB,  task.attempt ) }
        time    = { time_scale ( 2.h,   task.attempt ) }
    }
    withName: MERGE_CHUNK_DP {
        cpus    = { cpu_scale  ( 2,     task.attempt ) }
        memory  = { mem_scale  ( 8.GB,  task.attempt ) }
        time    = { time_scale ( 2.h,   task.attempt ) }
    }
    withName: MERGE_CHUNK_MISSING {
        cpus    = { cpu_scale  ( 2,     task.attempt ) }
        memory  = { mem_scale  ( 8.GB,  task.attempt ) }
        time    = { time_scale ( 6.h,   task.attempt ) }
    }
    withName: EXTRACT_VCF_SITES {
        cpus    = { cpu_scale  ( 4,     task.attempt ) }
        memory  = { mem_scale  ( 24.GB,  task.attempt ) }
        time    = { time_scale ( 6.h,   task.attempt ) }
    }
    withName: SUBSET_VCF_TO_SITES {
        cpus    = { cpu_scale  ( 4,     task.attempt ) }
        memory  = { mem_scale  ( 24.GB,  task.attempt ) }
        time    = { time_scale ( 6.h,   task.attempt ) }
    }
    withName: FILTER_VCF {
        cpus    = { cpu_scale  ( 4,     task.attempt ) }
        memory  = { mem_scale  ( 24.GB,  task.attempt ) }
        time    = { time_scale ( 6.h,   task.attempt ) }
    }
    withName: CREATE_FILTER_HIST {
        cpus    = { cpu_scale  ( 4,     task.attempt ) }
        memory  = { mem_scale  ( 24.GB,  task.attempt ) }
        time    = { time_scale ( 6.h,   task.attempt ) }
    }
    withName: PLOT_VCF_FILTERS {
        cpus    = { cpu_scale  ( 1,     task.attempt ) }
        memory  = { mem_scale  ( 24.GB,  task.attempt ) }
        time    = { time_scale ( 6.h,   task.attempt ) }
    } 
    withName: PLOT_SAMPLE_FILTERS {
        cpus    = { cpu_scale  ( 1,     task.attempt ) }
        memory  = { mem_scale  ( 8.GB,  task.attempt ) }
        time    = { time_scale ( 30.m,   task.attempt ) }
    } 
    
    // mito_genotyping subworkflow resources
    withName: CONSENSUS_MITO {
        cpus    = { cpu_scale  ( 1,     task.attempt ) }
        memory  = { mem_scale  ( 8.GB,  task.attempt ) }
        time    = { time_scale ( 30.m,   task.attempt ) }
    }
    withName: PROCESS_CRAM_MITO {
        cpus    = { cpu_scale  ( 1,     task.attempt ) }
        memory  = { mem_scale  ( 8.GB,  task.attempt ) }
        time    = { time_scale ( 1.h,   task.attempt ) }
    }   

    //Outputs subworkflow
    withName: SPLIT_VCF_BY_TYPE {
        cpus    = { cpu_scale  ( 4,     task.attempt ) }
        memory  = { mem_scale  ( 24.GB,  task.attempt ) }
        time    = { time_scale ( 6.h,   task.attempt ) }
    }
    withName: CREATE_BEAGLE {
        cpus    = { cpu_scale  ( 1,     task.attempt ) }
        memory  = { mem_scale  ( 24.GB,  task.attempt ) }
        time    = { time_scale ( 6.h,   task.attempt ) }
    }
    withName: VCF2DIST {
        cpus    = { cpu_scale  ( 8,     task.attempt ) }
        memory  = { mem_scale  ( 48.GB,  task.attempt ) }
        time    = { time_scale ( 6.h,   task.attempt ) }
    }
    withName: PLOT_ORDINATION {
        cpus    = { cpu_scale  ( 1,     task.attempt ) }
        memory  = { mem_scale  ( 12.GB,  task.attempt ) }
        time    = { time_scale ( 10.m,   task.attempt ) }
    }
    withName: PLOT_TREE {
        cpus    = { cpu_scale  ( 1,     task.attempt ) }
        memory  = { mem_scale  ( 12.GB,  task.attempt ) }
        time    = { time_scale ( 10.m,   task.attempt ) }
    }  

    // QC Subworkflow
    withName: CRAM_STATS {
        cpus    = { cpu_scale  ( 1,     task.attempt ) }
        memory  = { mem_scale  ( 1.GB,  task.attempt ) }
        time    = { time_scale ( 2.h,   task.attempt ) }
    }
    withName: VCF_STATS {
        cpus    = { cpu_scale  ( 4,     task.attempt ) }
        memory  = { mem_scale  ( 16.GB,  task.attempt ) }
        time    = { time_scale ( 6.h,   task.attempt ) }
    } 
    withName: FASTQC {
        cpus    = { cpu_scale  ( 1,     task.attempt ) }
        memory  = { mem_scale  ( 10.GB,  task.attempt ) }
        time    = { time_scale ( 6.h,   task.attempt ) }
    }  
    withName: MULTIQC {
        cpus    = { cpu_scale  ( 4,     task.attempt ) }
        memory  = { mem_scale  ( 24.GB,  task.attempt ) }
        time    = { time_scale ( 6.h,   task.attempt ) }
    }
}