process {

    ////////////////////////////////////////////////////////////////////////////
    // Genome preparation
    ////////////////////////////////////////////////////////////////////////////

    withName: PREPARE_GENOME {
        cpus   = 1
        memory = { 32.GB * task.attempt }
        time   = { 30.m  * task.attempt }
    }

    withName: PREPARE_MITO {
        cpus   = 1
        memory = { 4.GB * task.attempt }
        time   = { 10.m * task.attempt }
    }

    ////////////////////////////////////////////////////////////////////////////
    // alignment subworkflow
    ////////////////////////////////////////////////////////////////////////////

    withName: VALIDATE_CRAM {
        cpus   = 1
        memory = { 4.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }

    withName: MAP_TO_GENOME {
        cpus   = 16
        memory = { 32.GB * task.attempt }
        time   = { 6.h   * task.attempt }
    }

    withName: EXTRACT_UNMAPPED {
        cpus   = 4
        memory = { 8.GB * task.attempt }
        time   = { 30.m * task.attempt }
    }

    ////////////////////////////////////////////////////////////////////////////
    // Interval and bed operations
    ////////////////////////////////////////////////////////////////////////////

    withName: COMBINE_BEDS {
        cpus   = 2
        memory = { 4.GB * task.attempt }
        time   = { 10.m * task.attempt }
    }

    withName: SUBSET_BED_TO_INTERVALS {
        cpus   = 2
        memory = { 4.GB * task.attempt }
        time   = { 10.m * task.attempt }
    }

    withName: SPLIT_BED_INTO_WINDOWS {
        cpus   = 2
        memory = { 4.GB * task.attempt }
        time   = { 10.m * task.attempt }
    }

    withName: PROJECT_WORKLOAD_TO_INTERVALS {
        cpus   = 2
        memory = { 24.GB * task.attempt }
        time   = { 6.h * task.attempt }
    }

    withName: CREATE_INTERVAL_CHUNKS {
        cpus   = 2
        memory = { 8.GB * task.attempt }
        time   = { 2.h   * task.attempt }
    }

    ////////////////////////////////////////////////////////////////////////////
    // GATK subworkflow
    ////////////////////////////////////////////////////////////////////////////

    withName: VALIDATE_GVCF {
        cpus   = 1
        memory = { 4.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }

    withName: HAPLOTYPECALLER {
        cpus   = 4
        memory = { 24.GB * task.attempt }
        time   = { 6.h   * task.attempt }
    }


    withName: GENOMICSDB_IMPORT {
        cpus = 6
        time = { 24.h * task.attempt }

        /*
         * Memory is defined in the process/module because its initial
         * allocation scales with sample count.
         */
    }

    withName: JOINT_GENOTYPE {
        cpus = 2
        time = { 24.h * task.attempt }

        /*
         * Memory is defined in the process/module because its initial
         * allocation scales with sample count.
         */
    }

    withName: CONCAT_VCFS {
        cpus   = 8
        memory = { 48.GB * task.attempt }
        time   = { 6.h   * task.attempt }
    }


    ////////////////////////////////////////////////////////////////////////////
    // BCFtools subworkflow
    ////////////////////////////////////////////////////////////////////////////

    withName: MPILEUP {
        cpus = 2
        time = { 6.h * task.attempt }

        /*
         * Memory is defined in the process/module because its initial
         * allocation scales with sample count.
        */
    }


    ////////////////////////////////////////////////////////////////////////////
    // mask_genome subworkflow
    ////////////////////////////////////////////////////////////////////////////

    withName: GENMAP {
        cpus   = 4
        memory = { 24.GB * task.attempt }
        time   = { 6.h   * task.attempt }
    }

    withName: LONGDUST {
        cpus   = 4
        memory = { 24.GB * task.attempt }
        time   = { 6.h   * task.attempt }
    }

    withName: SUMMARISE_MASKS {
        cpus   = 1
        memory = { 4.GB * task.attempt }
        time   = { 10.m * task.attempt }
    }

    //withName: COUNT_CRAM_PERBASE {
    //    cpus   = 4
    //    memory = { 16.GB * task.attempt }
    //    time   = { 2.h   * task.attempt }
    //}

    withName: COUNT_CRAM_WINDOWS {
        cpus   = 4
        memory = { 16.GB * task.attempt }
        time   = { 2.h   * task.attempt }
    }

    withName: COMBINE_MOSDEPTH_WINDOWS {
        cpus   = 4
        memory = { 16.GB * task.attempt }
        time   = { 2.h   * task.attempt }
    }
    ////////////////////////////////////////////////////////////////////////////
    // Filtering subworkflow
    ////////////////////////////////////////////////////////////////////////////
    
    withName: MERGE_RIKER_COVERAGE {
        cpus   = 4
        memory = { 16.GB * task.attempt }
        time   = { 2.h   * task.attempt }
    }

    withName: FILTER_VCF {
        cpus   = 4
        memory = { 24.GB * task.attempt }
        time   = { 6.h   * task.attempt }
    }

    withName: PLOT_VARIANT_FILTERS {
        cpus   = 1
        memory = { 24.GB * task.attempt }
        time   = { 6.h   * task.attempt }
    }

    withName: PLOT_SAMPLE_FILTERS {
        cpus   = 1
        memory = { 8.GB * task.attempt }
        time   = { 30.m * task.attempt }
    }


    ////////////////////////////////////////////////////////////////////////////
    // Mitochondrial subworkflow
    ////////////////////////////////////////////////////////////////////////////

    withName: NUMT_MASK {
        cpus   = 4
        memory = { 24.GB * task.attempt }
        time   = { 6.h   * task.attempt }
    }

    withName: REALIGN_MITO {
        cpus   = 2
        memory = { 8.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }

    withName: PILEUP_MITO {
        cpus   = 4
        memory = { 24.GB * task.attempt }
        time   = { 6.h  * task.attempt }
    }

    withName: CONSENSUS_MITO {
        cpus   = 2
        memory = { 24.GB * task.attempt }
        time   = { 2.h * task.attempt }
    }


    ////////////////////////////////////////////////////////////////////////////
    // Outputs subworkflow
    ////////////////////////////////////////////////////////////////////////////

    withName: CREATE_BEAGLE {
        cpus   = 1
        memory = { 24.GB * task.attempt }
        time   = { 6.h   * task.attempt }
    }

    withName: PLINK_IMPORT {
        cpus    =  8
        memory  = { 48.GB *  task.attempt }
        time    = { 6.h * task.attempt }
    }
    withName: PLINK_PCA {
        cpus    =  8
        memory  = { 48.GB *  task.attempt }
        time    = { 6.h * task.attempt }
    }
    withName: PLINK_REL {
        cpus    =  8
        memory  = { 48.GB *  task.attempt }
        time    = { 6.h * task.attempt }
    }
    withName: PLINK_KING {
        cpus    =  8
        memory  = { 48.GB *  task.attempt }
        time    = { 6.h * task.attempt }
    }
    withName: PLINK_DIST {
        cpus    =  8
        memory  = { 48.GB *  task.attempt }
        time    = { 6.h * task.attempt }
    }

    withName: PLOT_ORDINATION {
        cpus   = 1
        memory = { 12.GB * task.attempt }
        time   = { 10.m  * task.attempt }
    }
    withName: PLOT_PCA{
        cpus   = 1
        memory = { 12.GB * task.attempt }
        time   = { 10.m  * task.attempt }
    }
    withName: PLOT_TREE {
        cpus   = 1
        memory = { 12.GB * task.attempt }
        time   = { 10.m  * task.attempt }
    }


    ////////////////////////////////////////////////////////////////////////////
    // QC subworkflow
    ////////////////////////////////////////////////////////////////////////////

    withName: CRAM_STATS_RIKER {
        cpus   = 4
        memory = { 16.GB * task.attempt }
        time   = { 2.h  * task.attempt }
    }

    withName: VCF_STATS {
        cpus   = 4
        memory = { 16.GB * task.attempt }
        time   = { 6.h   * task.attempt }
    }

    withName: MULTIQC {
        cpus   = 4
        memory = { 24.GB * task.attempt }
        time   = { 6.h   * task.attempt }
    }

}